* {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.2vw;
  line-height: 1.5vw;
}

body {
  background-image: url("../images/mouse-title.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.header {
  display: none;
  margin-top: 2.4vw;
}

.intro {
  margin-bottom: 2vw;
  margin-top: 25vw;
}

.tab {
  display: inline;
  font-size: 2vw;
  margin-left: 2vw;
}

.black {
  background-color: black;
  color: white;
  padding: 3vw 0px;
}

.inner-pad {
  padding: 3vw 0px;
}

.example-img {
  margin-top: 6vw;
  width: 100%;
}

.caption {
  color: lightgrey;
  font-size: 1vw;
  font-style: italic;
  margin-top: 0.5vw;
}

.dark-caption {
  color: grey;
  font-size: 1vw;
  font-style: italic;
  margin-top: 0.4vw;
}

.pad {
  margin-bottom: 5vw;
  width: 100%;
}

.analysis {
  display: none;
  font-size: 8vw;
  line-height: 10vw;
  margin-top: 5vw;
}

.section-title {
  font-size: 6vw;
  margin-top: 12vw;
  margin-bottom: 3vw;
}

.section-subtitle {
  font-size: 2vw;
  margin-bottom: 12vw;
}

.img {
  margin: 1.5vw 1.5vw 0 1.5vw;
  width: calc(100% - 3vw);
}

.plus {
  margin-top: 8vw;
}

.minus {
  margin-top: 4vw;
}
