* {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.2vw;
  line-height: 1.5vw;
}

body {
  background-image: url('../images/mouse-title.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.header {
  display: none;
  margin-top: 2.4vw;
}

.intro {
  margin-bottom: 2vw;
  margin-top: 25vw;
}

.huge {
  display: inline;
  font-size: 2vw;
  margin-left: 2vw;
}

.black {
  background-color: black;
  color: white;
  padding: 3vw 0px;
}

.img {
  margin-top: 6vw;
  width: 100%;
}

.caption {
  color: lightgrey;
  font-size: 1vw;
  margin-top: 0.5vw;
}

.pad {
  background-image: url('../images/mousepad-title.png');
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 1000px;
}

.analysis {
  display: none;
  font-size: 8vw;
  line-height: 10vw;
  margin-top: 5vw;
}
